<!DOCTYPE html>
<html lang="ru">
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/function.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Доп. настройки</title>
  <script type="text/javascript">
   var set_real_time;
   function handleServerResponse(){
    clearTimeout(set_real_time);
    var res = jsonResponse.time.split(":");
    real_time(hours=res[0],min=res[1],sec=res[2]);
    document.body.style.backgroundColor="rgb("+jsonResponse.rgb+")";
   }
   function real_time(hours,min,sec) {
   sec=Number(sec)+1;
    if (sec>=60){min=Number(min)+1;sec=0;}
    if (min>=60){hours=Number(hours)+1;min=0;}
    if (hours>=24){hours=0};
    document.getElementById("time").innerHTML = hours+":"+min+":"+sec;
    set_real_time = setTimeout("real_time("+hours+","+min+","+sec+");", 1000);
   }
   function load_time(submit){
    server = "/Time";
    send_request(submit,server);
    load();
   }
   function time_zone(submit){
    server = "/TimeZone?timezone="+val('timezone');
    send_request(submit,server);
   }
   function set_time_zone(submit){
    var set_date = new Date();
    var gmtHours = -set_date.getTimezoneOffset()/60;
    document.getElementById('timezone').value = gmtHours;
    server = "/TimeZone?timezone="+gmtHours;
    send_request(submit,server);
   }
   function set_ssid(submit){
    server = "/ssid?ssid="+val('ssid')+"&password="+encodeURIComponent(val('password'));
    send_request(submit,server);
    alert("Измененя вступят в силу после перезагрузки. Пожалуйта перезагрузите устройство.");
   }
   function set_ssid_ap(submit){
    server = "/ssidap?ssidAP="+val('ssidap')+"&passwordAP="+encodeURIComponent(val('passwordAp'));
    send_request(submit,server);
    alert("Измененя вступят в силу после перезагрузки. Пожалуйта перезагрузите устройство.");
   }
   function set_ssdp(submit){
    server = "/ssdp?ssdp="+val('ssdp');
    send_request(submit,server);
    document.getElementById('ssdp_t').innerHTML = val('ssdp');
   }
   function restart(submit,texts){
    if (confirm(texts)) {
	 server = "/restart?device=ok";
     send_request(submit,server);
     return true;
    } else {
     return false;
    }
   }
	function setpath() {
		var default_path = document.getElementById("newfile").files[0].name;
		document.getElementById("filepath").value = default_path;
	}
	function upload(submit) {
	
		alert("Test");
		var filePath = document.getElementById("filepath").value;
		var upload_path = "/upload/" + filePath;
		var fileInput = document.getElementById("newfile").files;

		/* Max size of an individual file. Make sure this
		 * value is same as that set in file_server.c */
		var MAX_FILE_SIZE = 200*1024;
		var MAX_FILE_SIZE_STR = "200KB";

		if (fileInput.length == 0) {
			alert("No file selected!");
		} else if (filePath.length == 0) {
			alert("File path on server is not set!");
		} else if (filePath.indexOf(' ') >= 0) {
			alert("File path on server cannot have spaces!");
		} else if (filePath[filePath.length-1] == '/') {
			alert("File name not specified after path!");
		} else if (fileInput[0].size > 1024*1024) {
			alert("File size must be less than 1M!");
		} else {
			document.getElementById("newfile").disabled = true;
			document.getElementById("filepath").disabled = true;
			document.getElementById("upload").disabled = true;

			var file = fileInput[0];
			var xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function() {
				if (xhttp.readyState == 4) {
					if (xhttp.status == 200) {
						document.open();
						document.write(xhttp.responseText);
						document.close();
					} else if (xhttp.status == 0) {
						alert("Server closed the connection abruptly!");
						location.reload()
					} else {
						alert(xhttp.status + " Error!\n" + xhttp.responseText);
						location.reload()
					}
				}
			};
			xhttp.open("POST", upload_path, true);
			xhttp.send(file);
			alert("Измененя вступят в силу после перезагрузки. Пожалуйта перезагрузите устройство.");
		}
	}
</script>

 </head>
 <body onload="load();">
  <div class="container">
   <div class="row" style="text-align:center;">
    <h1 style="margin:50px;">Доп. настройки</h1>
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
     <h5 class="alert-info" id="ssdp_t">{{SSDP}}</h5>
     <a class="btn btn-block btn-danger" href="/">Страница устройств</a>
     <a class="btn btn-block btn-default" href="/device.htm">Страница управления</a>
     <hr>
     <div class="alert alert-dismissible alert-warning"><strong>Пожалуйста подключитесь к своему роутеру и укажите ниже вашу GMT зону.</strong>
      Это позволит управлять вашим устройством в локальной сети и синхронизировать время используя ваш роутер.</div>
     <div class="alert alert-dismissible alert-info">
      <b>Обновление: <a href="/edit" target="_blank">Открыть редактор HTML</a>, загрузить прошивку (bin)</b>
     <div class="btn-group">
     <input id="newfile" type="file" onchange="setpath()" style="height: 33px;">
	 <input id="filepath" type="text" style="width:100%;" style="height: 33px;" class="form-control">
     <input id="upload"  class="btn btn-block btn-success" value="загрузить" onclick="upload(this)" style="height: 33px;">
     </div>
     </div>
     <h2>Имя устройства</h2>
     <input id="ssdp" value="{{SSDP}}" class="form-control" pattern="[0-9a-zA-Zа-яА-Я. ]{1,20}" placeholder="Имя устройства">
     <input class="btn btn-block btn-success" value="Сохранить" onclick="set_ssdp(this);" type="submit">
     <hr>
     <h2>Подключение к WiFi роутеру</h2>
     <input id="ssid" value="{{ssid}}" class="form-control" pattern="[0-9a-zA-Z.]{1,15}" placeholder="Имя WiFi сети">
     <input id="password" value="{{password}}" pattern=".{8,15}" onfocus="this.type='text'" type="password" class="form-control" placeholder="Пароль">
     <input class="btn btn-block btn-success" value="Сохранить" onclick="set_ssid(this);" type="submit">
     <hr>
     <h2>Временная зона GMT</h2>
     <input id="timezone" value="{{timezone}}" pattern="[0-9]{1,3}" class="form-control">
     <input class="btn btn-block btn-success" value="Сохранить" onclick="time_zone(this);" type="submit">
     <input class="btn btn-block btn-primary" value="Авто определение и сохранение зоны" onclick="set_time_zone(this);" type="submit">
     <h2>На устройстве сейчас <strong id="time">{{time}}</strong></h2>
     <input class="btn btn-block btn-primary" value="Синхронизировать время" onclick="load_time(this);" type="submit">
     <hr>
     <h2>Точка доступа</h2>
     <div class="row">
      <div class="col-sm-6">
       <input id="ssidap" value="{{ssidAP}}" class="form-control" pattern="[0-9a-zA-Z.]{1,15}" placeholder="Имя WiFi сети">
       <input id="passwordAp" value="{{passwordAP}}" pattern=".{8,15}" onfocus="this.type='text'" type="password" class="form-control" placeholder="Пароль">
       <input class="btn btn-block btn-success" value="Сохранить" onclick="set_ssid_ap(this);" type="submit">
      </div>
      <div class="col-sm-6">
       <div class="alert alert-dismissible alert-warning">Здесь вы можете указать новое название WiFi жалюзи и пароль.</div>
      </div>
     </div>
     <hr>
     <input class="btn btn-block btn-warning" value="Перезагрузить устройство" onclick="restart(this,'Вы действительно хотите перезагрузить устройство?');" type="submit">
     <a class="btn btn-block btn-default" href="/device.htm">Страница управления</a>
    </div>
   </div>
  </div>
 </body>
</html>
